.livros-form-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

mat-form-field {
  flex: 1 1 45%;
  min-width: 200px;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
