:host {
  display: block;
  width: 100%;
  max-width: 600px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

mat-dialog-content {
  padding-top: 20px;
}

mat-dialog-actions {
  padding: 16px 0;
  margin-bottom: 0;
}
